<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon" />

    <title>Admin</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="bg-style">
      <a class="navbar-brand" id="company-name" href="#">NextGen Lab</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" id="color-style">
               <li class="nav-item active">
            <a class="nav-link" href="/HomeA" style="font-size:19px !important;"
              >Admin <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/loginD"
              >Docter <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/loginP"
              >Patient<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logoutP"
              > Logout<span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <section id="section1" name="Home">
        <div id="heading-section">
          <h1>
            LOOKING FOR <br />
            PATIENTS!
          </h1>
          <p>your can check here the details about everything.</p>
        </div>
        <div id="docter-img">
          <br />
          {{!-- <img src="images/prescription.jpg" /> --}}
          <div id="set-Img">
            {{!-- <div id="img1">
          <img src="images/patImg.svg" alt="Image" srcset="" width="200px" height="300px">
          </div> --}}
          <img src="images/docImg2.svg" alt="Image" srcset="" width="500px" height="300px">
          </div>
        </div>
      </section>
      <hr>
      <section id="section2">
        <center>
          <h1 id="heading-section">DOCTERS!</h1>
        </center>
        <div id="generate-boxes"></div>
      </section>
      <hr>
      <section id="section2">
        <center>
          <h1 id="heading-section">PATIENTS!</h1>
        </center>
        <div id="generate-boxes-patients"></div>
      </section>
      <hr>
      <section id="section2">
        <center>
          <h1 id="heading-section">PRESCRIPTION!</h1>
        </center>
        <div id="generate-boxes-prescription"></div>
      </section>
      <hr>
      <section id="section2">
        <center>
          <h1 id="heading-section">PENDING REQUESTS!</h1>
        </center>
        <div id="generate-boxes-pending"></div>
      </section>
    </main>
    <br><br>
<footer class="footer-section">
                    <div class="text-center">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2022, All Right Reserved</p>
                            </div>
                    </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="js/admin.js"></script>
  </body>
</html>
