<!DOCTYPE html>
<html>
  <head>
    <title>Sign up and login Patient</title>
    <link rel="stylesheet" type="text/css" href="slide navbar style.css" />
    <link rel="stylesheet" href="css/loginP.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon" />
    <title>Home</title>
  </head>
  <body>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true" />

      <center><h1 style="color: white">Select Option</h1></center>
      <br /><br />
      <div class="signup">
        <button onclick="window.location.href='/Admin'" class="btn btn-success">
          Admin
        </button>
        <button
          onclick="window.location.href='/Docter'"
          class="btn btn-success"
        >
          Docter
        </button>
        <button
          onclick="window.location.href='/Patient'"
          class="btn btn-success"
        >
          Patient
        </button>
      </div>
    </div>
  </body>
</html>
